<%-include('partials/navbar.ejs')-%>


    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1>About Me</h1>
        <p> My name is Soubhik Kumar Gon, and I am a First year undergrad at IIIT Bhubaneswar.Originally from West
            Bengal,I have been lately interested in the field of programming and technology.
            <br><br>
            I am currently pursuing a degree in Information Technology, and I have a strong passion for learning new
            programming languages and technologies.My goal is to become a skilled software engineer and contribute to
            the tech industry.My Interests lie in Open source and Web 2.0 & Web 3.0 development.
            <br><br>
            Aside from programming, I also enjoy binge watching Netflix and Cooking 😃. <br><br>
            Thank you for taking the time to read my about page. If you would like to connect with me or learn more
            about my work, feel free to <a class="rotm" href="/contact-me">reach out to me</a>
        </p>
        <center>
            <h1>~Tech-Stack Used~</h1>
        </center>
        <div class="row">
            <center>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="svglogo" src="/css.svg" alt="">
                    <img class="svglogo" src="/js.svg" alt="">
                    <img class="svglogo" src="/vercel.jpeg" alt="">
                    <img class="svglogo" src="/node.svg" alt="">
                    <img class="svglogo" src="/ejs.svg" alt="">
                    <img class="svglogo" src="/express.svg" alt="">
                    <img class="svglogo" src="/git.svg" alt="">
                    <img class="svglogo" src="/github.svg" alt="">
                    <img class="svglogo" src="/bootstrap.svg" alt="">
 </div>
            </center>
<center>
<br><br><br>
<a href='https://www.github.com/mogulcoder26/Blog-website'>Github Repository</a>
</center>


       
    </div>
    </div>
    </div>

    <%-include('partials/footer.ejs')-%>
