<%- include('partials/navbar.ejs') -%>

    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h1>
            <%=blogpost.title %>
        </h1>
        <p>
            <%=blogpost.blog %>
        </p>

    </div>


    <%-include('partials/footer.ejs') -%>