<%- include('partials/navbar.ejs') -%>

    <br>
    <br>
    <br>
    <br>
    <h1>
        <%=blogpost.title %>
    </h1>
    <p>
        <%=blogpost.blog %>
    </p>

<%-include('partials/footer.ejs') -%>