<%-include('partials/navbar.ejs')-%>


    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1>Contact-Me</h1>
        <p>I'm Active on these sites.Feel free to DM any moment!<br><br><br><br><br><br><br></p>
        <center>
            <a style="padding: 20px;" href="https://www.linkedin.com/in/soubhikgon/">Linkedin</a>
            <a style="padding: 20px;" href="https://www.instagram.com/soubhikgon_/">Instagram</a>
            <a style="padding: 20px;" href="mailto:b422056@iiit-bh.ac.in">Email</a>
        </center>

    </div>

    <%-include('partials/footer.ejs')-%>