<%-include('partials/navbar.ejs')-%>


    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1>Contact-Me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia inventore, veritatis nemo fugit amet,
            veniam voluptas quas exercitationem voluptatum corrupti laboriosam natus optio quidem dolores consectetur
            tempora provident non libero molestias alias.
            Id voluptatem deserunt doloremque, cupiditate ducimus
            veritatis laborum a? Laborum laudantium maiores culpa eligendi ab mollitia pariatur reiciendis dolorum quis,
            consectetur aliquam deleniti iste nulla tenetur labore repellendus illo saepe, eveniet ad. Alias eveniet
            laboriosam laudantium reiciendis sapiente neque suscipit dolore earum rem quae cumque, sequi voluptate vero
            quos minima iste veritats, harum animi vitae provident quis reprehenderit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, esse minus. Aspernatur fuga asperiores
            sapiente, unde nesciunt qui beatae, eum quam aut nisi quia, soluta iste. Pariatur, culpa accusamus!
            Excepturi?</p>
    </div>

<%-include('partials/footer.ejs')-%>