<%-include('partials/navbar.ejs')-%>

<br><br><br><br>
    <div class="container">

    <h1>404:Page Not Found</h1>
    <h1>This resource doesn't exists.Try a valid link</h1>
    <a href="/">Let's go Back to Home!</a>
</div>

<%-include('partials/footer.ejs')-%>