@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fasthand&family=Lora:ital,wght@0,600;1,500&family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&family=Open+Sans&family=Poppins:wght@200;500&family=Sacramento&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@400;700&display=swap');

a {
    font-size: 2rem;
}

body {
    background-color: #090909;
    color: #ACACAC;
    font-family: 'Poppins', sans-serif;

}

nav {
    background-image: url('./nav-svgb4hover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 78px;
    background-color: #ACACAC;
    opacity: 0.8;
}

nav:hover {
    transition: 0.3s;
    background-image: url('./nav-svgafterhover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ACACAC;

}

.fixed-bottom {
    width: 100%;
    text-align: center;
    background-image: url('./nav-svgb4hover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(28, 27, 27);
}

.fixed-bottom:hover {
    transition: 0.3s;
    background-image: url('./nav-svgafterhover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(28, 27, 27);

}
input[type="text"]{
    background-color: beige;
}
textarea{
    height: 300px;
}
button{
    margin-top: 20px;
    margin-left: 45%;
}